  <% provide(:title, "Home")%>
  <body>
      <div class="jumbotron">
        <h1>Ghetto Payment Tracking Application</h1>
        <p class="lead">It may be a lil ghetto but it's a damn good way to keep track of expense payments. Sign up today!</p>
        
        <p class="btn-group">
          <%= link_to "Signup for the app", signup_path, class: "btn btn-default btn-lg btn-success" %>
          <%= link_to "Log in", login_path, class: "btn btn-default btn-lg" %>
        </p>
      </div>
      
      <div class="row">
        <div class="col-sm-4">
          <h2>Easily Recall Expense Payments</h2>
          <p>This is text to fill up content on the page I will rpelace it later with actual copy for the webpage to use itslef ok cool. This is text to fill up content on the page I will rpelace it later with actual copy for the webpage to use itslef ok cool.</p>
        </div>
        <div class="col-sm-4">
          <h2>Easily Recall Expense Payments</h2>
          <p>This is text to fill up content on the page I will rpelace it later with actual copy for the webpage to use itslef ok cool. This is text to fill up content on the page I will rpelace it later with actual copy for the webpage to use itslef ok cool.</p>
        </div>
        <div class="col-sm-4">
          <h2>Easily Recall Expense Payments</h2>
          <p>This is text to fill up content on the page I will rpelace it later with actual copy for the webpage to use itslef ok cool. This is text to fill up content on the page I will rpelace it later with actual copy for the webpage to use itslef ok cool.</p>
        </div>
      </div>    
      <div class="row">
        <div class="col-sm-6">
          <h3>Easily Recall Expense Payments</h3>
          <p>This is text to fill up content on the page I will rpelace it later with actual copy for the webpage to use itslef ok cool.</p>
        </div>
        <div class="col-sm-6">
          <h3>Easily Recall Expense Payments</h3>
          <p>This is text to fill up content on the page I will rpelace it later with actual copy for the webpage to use itslef ok cool.</p>
          <a href="#">Sign up for Billz</a>     
        </div>
      </div>
    </div>
  </body>