<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <ul class="navbar-right">
      <li><%= link_to "Home", home_path, class:"navbar-text navbar-btn" %></li>
      <li><%= link_to "Help", "#", class:"navbar-text navbar-btn" %></li>
    </ul>
  </div>
</nav>
   