<header class="navbar navbar-default navbar-inverse">
  <nav class="container-fluid">
    <div class="navbar-header">
      <ul class="">
        <li><%= link_to "Home", home_path, class:"navbar-btn" %></li>
        <li><%= link_to "Help", "#", class:"navbar-btn" %></li>
      </ul>
    </div>
  </nav>
</header>

   